
/* custom properties */
:root {
  
}

/* debug */

/* header */
header {
    height: 80px;
}
.debug .hed-borders {
    border: 2px dashed orange; 
}

.debug .row.r-h-borders {
    border: 2px dashed violet; 
}

.debug .col.c-h-borders {
    border: 2px dashed blue; 
}

/* menu */
/* jumbotron */
section {
    min-height: 400px;
}

.debug .sect {
    border: 2px dashed red; 
}

.debug .row.r-j-borders {
    border: 2px dashed black; 
}

.debug .col.c-j-borders {
    border: 2px dashed yellowgreen; 
}

/* other row aand col */
[class^='row'] {
    border: 2px solid brown; 
}

[class^='col'] {
    border: 2px solid gold; 
}